* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../img/pozadina.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: rgba(8, 8, 8, 0.5176470588);
  padding: 10px 0;
  padding-right: 100px;
}

#logo img {
  height: 75px;
  width: 75px;
}

nav ul {
  list-style: none;
  text-align: right;
  margin-top: -50px;
  padding-bottom: 20px;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 30px;
  border-left: 3px solid #000000;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li:hover {
  transform: scale(1.1);
}

section {
  padding: 50px 0;
  text-align: center;
}

/*Home*/
#home {
  background-color: rgba(8, 8, 8, 0.7294117647);
  margin-top: 180px;
  width: 90%;
  margin-left: 5%;
  border: 5px solid #000;
}
#home h2 {
  color: #fff;
  font-size: 300%;
}
#home h1 {
  color: #fff;
  font-size: 310%;
}

/*about me*/
.naslolv {
  background-color: rgba(8, 8, 8, 0.7294117647);
  margin-top: 220px;
  font-size: 330%;
  padding-left: 45%;
  padding-top: 20px;
  color: #fff;
}

#about {
  background-color: rgba(8, 8, 8, 0.7294117647);
  display: flex;
  align-items: center;
}
#about p {
  flex: 1;
  font-size: 300%;
  font-weight: bold;
  color: #fff;
}
#about img {
  margin-right: 10px;
  height: 40%;
  width: 20%;
  margin-left: 20px;
  box-shadow: 0px 0px 25px #fff;
}

/*servisi*/
#services {
  background-color: rgba(255, 255, 255, 0.6901960784);
  display: flex;
  align-items: center;
}

.servisi {
  flex: 1;
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
}
.servisi img {
  height: 40%;
  width: 40%;
}
.servisi p {
  font-size: 120%;
}

/*projekti*/
#projects {
  background-color: rgba(8, 8, 8, 0.9098039216);
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}

.slike {
  margin-top: 30px;
}
.slike img {
  height: 50%;
  width: 90%;
  flex: 1;
  border: 3px solid #fff;
  margin: 10px;
}
.slike p {
  color: #fff;
  font-size: xx-large;
  border-bottom: 2px solid #fff;
  width: 20%;
  margin-left: 40%;
}

.slike img:hover {
  transform: scale(0.9);
}

/*kontakt*/
#contact {
  background-color: rgba(255, 255, 255, 0.6901960784);
  padding-left: 50px;
  display: flex;
}

.info {
  flex: 1;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

input {
  border: 2px solid #000;
  padding: 18px 10px;
  width: 100%;
  background-color: #880505;
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
}

textarea {
  border: 2px solid #000;
  padding: 18px 10px;
  width: 100%;
  background-color: #880505;
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
}

button {
  border: 2px solid #000;
  padding: 18px 10px;
  width: 100%;
  background-color: #880505;
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
}

.contact-wrapper img {
  width: 10%;
  height: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*footer*/
footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}
footer ul {
  list-style: none;
}
footer ul li {
  display: inline-block;
  margin: 0 10px;
}
footer ul li a img {
  width: 30px;
  height: 30px;
}

#footer-block {
  margin-top: 10px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */